In [1]:
import pandas as pd
from glob import glob
import os

model_list = [#'klue/roberta-small',
            "snunlp/KR-ELECTRA-discriminator",
            'Alibaba-NLP/gte-multilingual-base',
            'klue/roberta-base',
            #'snunlp/KR-SBERT-Medium-extended-klueNLItriplet_PARpair_QApair-klueSTS',
            'snunlp/KR-SBERT-Medium-klueNLItriplet_PARpair-klueSTS',
            'klue/bert-base',
            #'sentence-transformers/paraphrase-multilingual-MiniLM-L12-v2',

            ]

preds = {}
ids = []
for name in model_list:
    name = name.split('/')[-1]
    path = os.getcwd() + f'/{name}.csv'
    d = pd.read_csv(path)
    if len(ids) == 0:
        ids = d['id']
    preds[name] = d['target']

In [3]:
def softvoting(preds, ids):
    prediction = 0
    for name in preds:
        prediction += preds[name] 
    prediction = prediction / len(preds)
    df = pd.DataFrame({'id' : ids, 'target' : prediction.round(2)})
    df.to_csv('softvoting.csv')
    print('done.')
    return df

In [4]:
df = softvoting(preds, id)

done.

In [5]:
df

                          id  target
0     <built-in function id>    3.36
1     <built-in function id>    4.06
2     <built-in function id>    1.71
3     <built-in function id>    0.26
4     <built-in function id>    3.64
...                      ...     ...
1095  <built-in function id>    1.98
1096  <built-in function id>    4.47
1097  <built-in function id>    3.66
1098  <built-in function id>    2.77
1099  <built-in function id>    4.69

[1100 rows x 2 columns]