In [1]:
import pandas as pd
from googletrans import Translator
from tqdm import tqdm
import re
from pykospacing import Spacing
from tqdm import tqdm
tqdm.pandas()
def clean_text(text):
    text = text.lower()
    cleaned_text = re.sub(r'[^가-힣a-z0-9\s]', '', text)
    cleaned_text = re.sub(r'\s+', ' ', cleaned_text)
    cleaned_text = re.sub(r'(.)\1{2,}', r'\1', cleaned_text)
    spacing = Spacing()
    cleaned_text = spacing(cleaned_text)
    return cleaned_text.strip()

def back_translate(text, src_lang='ko', intermediate_lang='en'):
    translator = Translator()
    
    # 원본 텍스트를 intermediate_lang으로 번역
    translated_text = translator.translate(text, src=src_lang, dest=intermediate_lang).text
    
    # intermediate_lang에서 원본 src_lang으로 번역
    back_translated_text = translator.translate(translated_text, src=intermediate_lang, dest=src_lang).text
    
    return back_translated_text

WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
I0000 00:00:1727274880.706760  920437 cuda_executor.cc:1015] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355

In [2]:
target = 2000
df = pd.read_csv('/data/ephemeral/home/moruka/text.csv')
s_1 = []
s_2 = []
labels = []
d1 = df[(df['label'] >= 0) & (df['label'] < 1)]
d2 = df[(df['label'] >= 1) & (df['label'] < 2)]
d3 = df[(df['label'] >= 2) & (df['label'] < 3)]
d4 = df[(df['label'] >= 3) & (df['label'] < 4)]
d5 = df[(df['label'] >= 4) & (df['label'] <= 5)]
cnt = target - len(d1)
for idx in tqdm(range(cnt)):
    try:
        sentence = d1.sample(1)
        sentence_1 = back_translate(sentence['sentence_1'].item())
        sentence_2 = back_translate(sentence['sentence_2'].item())
        s_1.append(sentence_1)
        s_2.append(sentence_2)
        labels.append(sentence['label'])
    except:
        print(f'{idx}번째 인덱스에서 오류 발생.')
        print(sentence)

cnt = target - len(d2)
for idx in tqdm(range(cnt)):
    try:
        sentence = d2.sample(1)
        sentence_1 = back_translate(sentence['sentence_1'].item())
        sentence_2 = back_translate(sentence['sentence_2'].item())
        s_1.append(sentence_1)
        s_2.append(sentence_2)
        labels.append(sentence['label'])
    except:
        print(f'{idx}번째 인덱스에서 오류 발생.')
        print(sentence)
cnt = target - len(d3)
for idx in tqdm(range(cnt)):
    try:
        sentence = d3.sample(1)
        sentence_1 = back_translate(sentence['sentence_1'].item())
        sentence_2 = back_translate(sentence['sentence_2'].item())
        s_1.append(sentence_1)
        s_2.append(sentence_2)
        labels.append(sentence['label'])
    except:
        print(f'{idx}번째 인덱스에서 오류 발생.')
        print(sentence)
cnt = target - len(d4)
for idx in tqdm(range(cnt)):
    try:
        sentence = d4.sample(1)
        sentence_1 = back_translate(sentence['sentence_1'].item())
        sentence_2 = back_translate(sentence['sentence_2'].item())
        s_1.append(sentence_1)
        s_2.append(sentence_2)
        labels.append(sentence['label'])
    except:
        print(f'{idx}번째 인덱스에서 오류 발생.')
        print(sentence)

cnt = target - len(d5)
for idx in tqdm(range(cnt)):
    try:
        sentence = d5.sample(1)
        sentence_1 = back_translate(sentence['sentence_1'].item())
        sentence_2 = back_translate(sentence['sentence_2'].item())
        s_1.append(sentence_1)
        s_2.append(sentence_2)
        labels.append(sentence['label'])
    except:
        print(f'{idx}번째 인덱스에서 오류 발생.')
        print(sentence)
aug_data = pd.DataFrame({'sentence_1' : s_1, 'sentence_2' : s_2, 'label' : labels})

0it [00:00, ?it/s]
100%|██████████| 632/632 [42:32<00:00,  4.04s/it]
 63%|██████▎   | 399/632 [19:04<16:33,  4.26s/it]

398번째 인덱스에서 오류 발생.
                               id        source    sentence_1  \
8887  boostcamp-sts-v1-train-8887  nsmc-sampled  시청자가 바본 줄 아나

                        sentence_2  label  binary-label
8887  엠넷은 시청자와 출연자 모두를 간 보는 경향이 있다    1.4           0.0

 72%|███████▏  | 452/632 [21:22<11:01,  3.67s/it]

451번째 인덱스에서 오류 발생.
                               id    source             sentence_1  \
1494  boostcamp-sts-v1-train-1494  nsmc-rtt  터미네이터 시리즈는 에서 끝났어야 했다

      sentence_2  label  binary-label
1494  터미네이터 시리즈는    1.2           0.0

100%|██████████| 632/632 [28:31<00:00,  2.71s/it]
100%|██████████| 863/863 [48:41<00:00,  3.39s/it]
100%|██████████| 285/285 [19:41<00:00,  4.15s/it]
 33%|███▎      | 202/607 [12:57<18:25,  2.73s/it]

201번째 인덱스에서 오류 발생.
                               id        source               sentence_1  \
7754  boostcamp-sts-v1-train-7754  petition-rtt  퇴직금 퇴직금 지연에 따른 관련 해결 조치

             sentence_2  label  binary-label
7754  퇴직금 퇴직금 지연에 관한 조치    4.4           1.0

100%|██████████| 607/607 [35:18<00:00,  3.49s/it]

In [3]:
aug_data = pd.DataFrame({'sentence_1' : s_1[632:], 'sentence_2' : s_2[632:], 'label' : labels[632:]})
aug_data

,sentence_1,sentence_2,label
0,등급이 왜,평가가 왜 그렇게 낮습니까?,"8740 1.8 Name: label, dtype: float64"
1,달이 정권의 시대,Moon Jae -IN 정부 문제는 최악입니다,"5543 1.0 Name: label, dtype: float64"
2,물론 말할 말을해야하지만 정부 상을받는 것을 중단합니다.,나는 뭔가 말해야한다,"2774 1.6 Name: label, dtype: float64"
3,중국의 원자력 발전소를 폐지하십시오,원자력 발전소를 줄이고 안전 조치를 준비하십시오.,"5523 1.2 Name: label, dtype: float64"
4,더 낮은 점수가 있습니까?,점수가 너무 낮습니다,"3762 1.0 Name: label, dtype: float64"
...,...,...,...
2379,"그건 그렇고, 마당은 우아한 공작에 잘 어울립니다.",이것은 아이디어이지만 마당은 우아한 공작새 새와 잘 어울립니다.,"1510 4.0 Name: label, dtype: float64"
2380,나는 우리 회사와 AI의 가벼운 도전자 팀과의 회의를 자랑스럽게 생각했습니다.,우리 회사와 AI의 가벼운 도전자 팀의 자부심은 더 긴장하고,"4460 4.2 Name: label, dtype: float64"
2381,나는 또한 내 손을 듣습니다,나는 또한 내 손을 듣습니다,"379 4.4 Name: label, dtype: float64"
2382,남녀 평등부와 가족을 폐지하십시오,남녀 평등부와 가족을 폐지하십시오,"5167 4.2 Name: label, dtype: float64"
2383,일본 개발자 책이지만이 드럼으로 읽고 잠깐 공유했습니다.나는 감동했다.,일본 개발자 책이지만 e- 책으로 읽고 간단하게 공유합니다.나는 인상적인 라인을 그렸다.,"4085 4.0 Name: label, dtype: float64"

In [12]:
aug_data.to_csv('aug_data_back_translate.csv')

In [11]:
aug_data['label'] = aug_data['label'].apply(lambda x:x.item())
aug_data

,sentence_1,sentence_2,label
0,등급이 왜,평가가 왜 그렇게 낮습니까?,1.8
1,달이 정권의 시대,Moon Jae -IN 정부 문제는 최악입니다,1.0
2,물론 말할 말을해야하지만 정부 상을받는 것을 중단합니다.,나는 뭔가 말해야한다,1.6
3,중국의 원자력 발전소를 폐지하십시오,원자력 발전소를 줄이고 안전 조치를 준비하십시오.,1.2
4,더 낮은 점수가 있습니까?,점수가 너무 낮습니다,1.0
...,...,...,...
2379,"그건 그렇고, 마당은 우아한 공작에 잘 어울립니다.",이것은 아이디어이지만 마당은 우아한 공작새 새와 잘 어울립니다.,4.0
2380,나는 우리 회사와 AI의 가벼운 도전자 팀과의 회의를 자랑스럽게 생각했습니다.,우리 회사와 AI의 가벼운 도전자 팀의 자부심은 더 긴장하고,4.2
2381,나는 또한 내 손을 듣습니다,나는 또한 내 손을 듣습니다,4.4
2382,남녀 평등부와 가족을 폐지하십시오,남녀 평등부와 가족을 폐지하십시오,4.2
2383,일본 개발자 책이지만이 드럼으로 읽고 잠깐 공유했습니다.나는 감동했다.,일본 개발자 책이지만 e- 책으로 읽고 간단하게 공유합니다.나는 인상적인 라인을 그렸다.,4.0